/*---Definindo as fontes---*/
@font-face {
    font-family: 'Bree Serif';
    src: url('../font/Bree_Serif/BreeSerif-Regular.ttf');
}
@font-face {
    font-family: 'Lato';
    src: url('../font/Lato/Lato-Bold.ttf');
}
@font-face {
    font-family: 'DM Sans';
    src: url('../font/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf');
}
@font-face {
    font-family: 'Nunito';
    src: url('../font/Nunito/Nunito-VariableFont_wght.ttf');
}
/*---Resetando o documento---*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*---Definindo o tamanho---*/
html, body {
    height: -webkit-fill-available;
}
/*---Popup---*/
.background_popup, .background_card {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 999;
    height: -webkit-fill-available;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
} 
.content_popup {
    background-color: #fafafa;
    width: 30%;
    position: relative;
    border-radius: 15px;
    padding: 50px;
}
.content_popup h2 {
    text-align: center;
    font-family: 'Lato';
    font-size: 25px;
    margin-bottom: 20px;
}
.contacts_popup {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20.9%;
    align-items: center;
    justify-content: center;
}
.contacts_popup span {
    display: inline-block;
    width: 100%;
}
.contacts_popup span:last-of-type {
    margin-top: 15px;
}
.contacts_popup img {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
.contacts_popup a {
    display: inline-block;
    margin-left: 5px;
    font-family: 'DM Sans';
    margin-top: 0.5px;
    font-weight: bold;
    transition: 0.7s;
    color: #010101;
    font-size: 15px;
    vertical-align: middle;
    text-decoration: none;
}
.contacts_popup a:hover {
    transform: scale(1.05);
}
.contacts_popup p {
    display: inline-block;
    font-weight: bold;
    margin-left: 5px;
    font-size: 15px;
    vertical-align: middle;
    font-family: 'DM Sans';
    color: #010101;
}
/*---Icone de fechar---*/
.close {
    position: absolute;
    top: -6%;
    cursor: pointer;
    right: -2.5%;
    width: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 31px;
    transition: 0.7s;
    color: #fafafa;
    border: 2px solid #f1671a;
    background-color: #f1671a;
    border-radius: 20px;
}
.close:hover {
    transform: scale(1.1);
    background-color: #fafafa;
    color: #f1671a;
}
.close strong {
    font-size: 17px;
    font-family: 'Nunito';
}
/*---Cards---*/
.centroPop_card, .cras_card, .creas_card {
    background-image: url('../imgs/backgroundCard_centroPop.png');
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    display: none;
    grid-template-areas: 
        'esquerda direita'
        'rodape rodape';
        grid-template-columns: 73% 27%;
    width: 60%;
    position: relative;
}
.cras_card {
    background-image: url('../imgs/background_cras.png');
}
/*---Botao de fechar---*/
.centroPop_card .close, .cras_card .close, .creas_card .close {
    top: -1.7%;
    width: 36px;
    height: 36px;
    right: -1.2%;
}
.centroPop_card .close strong, .cras_card .close strong, .creas_card .close strong {
    font-size: 18.5px;
}
.content_card {
    grid-area: esquerda;
}
.content_card header {
    display: flex;
    padding: 25px 0 0 25px;
}
.content_card header img {
    width: 17%;
}
.content_card header h1 {
    white-space: pre-line;
    font-family: 'Lato';
    margin-top: -23px;
    margin-left: 10px;
    font-size: 33px;
}
.cras_card header h1 {
    margin-top: 10px;
}
.creas_card header h1 {
    margin-top: -10px;
}
.content_card p {
    font-weight: bold;
    font-size: 25px;
    margin-top: 60px;
    text-align: center;
    width: 85%;
    font-family: 'Lato';
}
.img_card {
    grid-area: direita;
    position: relative;
}
.img_card div {
    position: absolute;
    background-color: #f2f1eb;
    padding: 10px 10px 50px;
    border-radius: 3px;
    border: 1px solid #a29e9a;
    width: 65%;
}
.img_card div:nth-of-type(1) {
    top: 13%;
    right: 36%;
}
.img_card div:nth-of-type(2) {
    top: 51%;
    right: 7%;
}
.img_card div:nth-of-type(3) {
    top: 92%;
    right: 35%;
}
.img_card img {
    width: 100%;
    border: 0.5px solid #dfe2de;
    border-radius: 3px;
    height: 160px;
}
/*---Rodape do card centro pop---*/
.centroPop_card footer, .cras_card footer, .creas_card footer {
    padding: 0 15px 15px;
    grid-area: rodape;
}
.centroPop_card footer div, .cras_card footer div, .creas_card footer div {
    width: 50%;
    position: relative;
    top: 30%;
}
.centroPop_card footer div:nth-of-type(2), .cras_card footer div:nth-of-type(2), .creas_card footer div:nth-of-type(2) {
    margin-top: 4px;
}
.centroPop_card footer h3, .cras_card footer h3, .creas_card footer h3 {
    font-family: 'Lato';
    font-size: 25px;
    position: relative;
    top: 20%;
}
.centroPop_card footer p, .cras_card footer p, .creas_card footer p {
    font-family: 'Bree Serif';
    font-size: 20px;
}
.centroPop_card footer img, .cras_card footer img, .creas_card footer img {
    float: right;
    display: block;
    width: 5%;
}
/*---Ajustes---*/
.clear {
    clear: both;
}
/*---Cabeçalho---*/
body > header {
    padding: 70px;
    background-image: url('../imgs/7.png');
    background-size: cover;
    height: -webkit-fill-available;
}
/*---Topo do Cabeçalho---*/
.top {
    display: flex;
    justify-content: space-between;
}
.top span {
    display: inline-flex;
    flex-wrap: wrap;
}
.top img {
    width: 6.5%;
}
.top h1 {
    font-family: 'Bree Serif';
    font-weight: normal;
    padding-top: 0.9%;
    font-size: 38px;
    margin-left: 15px;
}
.top a {
    display: inline-block;
    font-family: 'DM Sans', sans-serif;
    background-color: #f1671a;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #F1671A;
    height: 55px;
    border-radius: 3px;
    width: 10%;
    transition: 0.7s;
    padding-top: 15px;
    text-align: center;
    color: #fafafa;
}
.top a:hover {
    transform: scale(1.1);
    background-color: #fafafa;
    color: #F1671A;
}
/*---Fundo do Cabeçalho---*/
.bottom {
    padding-left: 71px;
}
.bottom h1 {
    font-size: 84px;
    font-weight: normal;
    font-family: 'Lato';
    white-space: pre-line;
}
.bottom h2 {
    font-size: 31px;
    margin-top: -10px;
    font-family: 'DM Sans';
    white-space: pre-line;
}
/*---Seção sobre nós---*/
.aboutUs {
    display: flex;
    justify-content: space-between;
    padding: 120px 0;
}
/*---Container da imagem---*/
.img {
    width: 50%;
}
.aboutUs img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
/*---Informações---*/
.info {
    width: 50%;
}
.aboutUs .info {
    padding-left: 230px;
    padding-top: 70px;
}
.info h1 {
    font-family: 'Lato';
    font-size: 55px;
}
.aboutUs .info p {
    margin-top: -25px;
    font-family: 'DM Sans';
    white-space: pre-line;
    font-weight: bold;
    font-size: 21px;
}
.info input, .philosophy .info a, .box_link input {
    color: #fafafa;
    background-color: #F1671A;
    margin-top: 30px;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid #F1671A;
    border-radius: 3px;
    transition: 0.7s;
    display: inline-block;
    text-decoration: none;
    font-family: 'DM Sans';
    font-weight: bold;
    padding: 16px 25px;
}
.info input:hover, .philosophy .info a:hover, .box_link input:hover {
    transform: scale(1.05);
    background-color: #fafafa;
    color: #F1671A;
}
/*---Serviços---*/
.services {
    background-image: url('../imgs/9.png');
    background-size: cover;
    padding: 150px 140px;
}
.services h1 {
    font-family: 'Lato';
    font-size: 60px;
    text-align: center;
}
.services .content {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}
/*---Single---*/
.services .single {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    text-align: center;
    width: 28%;
    padding: 20px 0;
    background-color: #fafafa;
}
/*---Container com o link---*/
.services .box_link {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}
.box_link input {
    padding: 13px 25px;
}
.single img {
    width: 60%;
}
.single h3 {
    white-space: pre-line;
    font-family: 'Lato';
    font-size: 26px;
}
.single p {
    white-space: pre-line;
    font-size: 20px;
    margin-top: -20px;
    color: #76766B;
    font-family: 'DM Sans';
}
/*---Seção Filosofia---*/
.philosophy {
    display: flex;
    padding: 150px 120px 130px;
}
/*---Container de informações---*/
.philosophy h1 {
    white-space: pre-line;
    font-size: 56px;
}
.philosophy .info a {
    margin-top: 130px;
    padding: 16px 53px;
}
/*---Container da imagem---*/
.philosophy img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
/*---Feedback---*/
.feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    background-image: url('../imgs/11.png');
    background-size: cover;
    height: -webkit-fill-available;
}
/*---Conteudo---*/
.feedback .content {
    width: 50%;
    padding-top: 160px;
    height: 100%;
}
.feedback h1 {
    white-space: pre-line;
    font-size: 70px;
    margin-top: -100px;
    font-family: 'Lato';
}
/*---Individual---*/
.feedback .single {
    height: calc(100% / 3);
}
.feedback h2 {
    font-family: 'DM Sans';
    font-size: 22px;
}
/*---Contato---*/
.contact {
    padding: 80px;
}
/*---Ttulos da seção---*/
.contact h1, .contact h2, .contact h4 {
    font-family: 'Lato';
}
.contact h1 {
    font-size: 50px;
    margin-bottom: 50px;
    margin-left: 22px;
}
/*---Conteudo da seção contato---*/
.left_content {
    float: left;
    width: 45%;
}
.right_content {
    float: right;
    width: 45%;
}
/*---Container individual da seção---*/
.contact_single:nth-of-type(2) {
    margin: 20px 0;
}
.contact h2 {
    font-size: 30px;
    margin-bottom: 13px;
}
/*---Container inline---*/
.contact_single span {
    display: block;
}
.contact_single span:nth-of-type(2) {
    margin-top: 5px;
}
.contact h4 {
    color: #797BE4;
    font-size: 17px;
}
.contact p {
    font-size: 19px;
    color: #76766B;
    white-space: pre-line;
    font-family: 'DM Sans';
}
.left_content .contact_single:not(:nth-of-type(2)) span:first-of-type p, .right_content span:first-of-type p {
    margin-top: -25px;
}
/*---Responsivo: mobile---*/
@media screen and (max-width:600px) {
    /*---Documento---*/
    html, body {
        position: relative;
    }
    /*---Popup---*/
    .content_popup {
        width: 90%;
        padding: 29px;
    }
    .content_popup h2 {
        font-size: 24px;
        text-align: left;
    }
    .contacts_popup {
        padding-left: 0;
    }
    .contacts_popup span:last-of-type {
        margin-top: 10px;   
    }
    .contacts_popup img {
        width: 23px;
        height: 23px;
    }
    .contacts_popup p {
        font-size: 14px;
    }
    /*---Icone de fechar---*/
    .background_popup .close {
        top: -9%;
        right: -4%;
    }
    /*---Cards---*/
    .background_card {
        position: absolute;
    }
    .centroPop_card, .cras_card, .creas_card {
        width: 95%;
        padding: 30px 0;
        flex-direction: column;
    }
    /*---Botao de fechar---*/
    .centroPop_card .close, .cras_card .close, .creas_card .close {
        top: -1%;
        right: 0;
        left: 50%;
        transform: translate(-50%, 1%);
    }
    .centroPop_card .close strong, .cras_card .close strong, .creas_card .close strong {
        font-size: 21px;
    }
    /*---Conteudo dos cards---*/
    .content_card {
        width: 100%;
        padding: 0 8px;
    }
    .content_card header {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        padding: 0;
    }
    .content_card header img {
        width: 50%;
        margin-bottom: 10px;
    }
    .content_card header h1 {
        white-space: normal;
        margin: 0;
        font-size: 24px;
    }
    .cras_card header h1 {
        margin-top: 10px;
    }
    .creas_card header h1 {
        margin-top: -10px;
    }
    .content_card p {
        font-size: 19px;
        margin-top: 10px;
        width: 100%;
    }
    .content_card p br {
        display: none;
    }
    /*---Container das imagens---*/
    .img_card {
        width: 100%;
        padding: 20px 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img_card div {
        position: static;
        padding: 10px 10px 50px;
        width: 60%;
        margin-top: 10px;
    }
    .img_card img {
        width: 100%;
        height: 130px;
    }
    /*---Rodape dos cards---*/
    .centroPop_card footer, .cras_card footer, .creas_card footer {
        padding: 0;
        text-align: center;
        width: 100%;
    }
    .centroPop_card footer div, .cras_card footer div, .creas_card footer div {
        width: 100%;
        position: static;
    }
    .centroPop_card footer div:nth-of-type(1), .cras_card footer div:nth-of-type(1), .creas_card footer div:nth-of-type(1) {
        margin: 10px 0;
    }
    .centroPop_card footer h3, .cras_card footer h3, .creas_card footer h3 {
        font-family: 'Lato';
        font-size: 22px;
        position: relative;
        top: 20%;
    }
    .centroPop_card footer p, .cras_card footer p, .creas_card footer p {
        font-family: 'Bree Serif';
        font-size: 17px;
    }
    .centroPop_card footer img, .cras_card footer img, .creas_card footer img {
        float: none;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 20%;
        margin: 10px 0;
    }
    /*---Cabeçalho---*/
    body > header {
        padding: 15px;
    }
    /*---Topo do cabeçalho---*/
    .top {
        display: block;
    }
    .top span {
        flex-wrap: nowrap;
        width: 100%;
        justify-content: center;
    }
    .top img {
        width: 50px;
        height: 50px;
    }
    .top h1 {
        padding-top: 9px;
        font-size: 22px;
    }
    .top a {
        font-size: 16px;
        height: 50px;
        width: 42%;
        margin-top: 50px;
        padding-top: 12px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .top a:hover {
        transform: translateX(-50%) scale(1.1);
    }
    /*---Fundo do Cabeçalho---*/
    .bottom {
        padding-left: 0;
        text-align: center;
    }
    .bottom h1 {
        white-space: normal;
        font-size: 50px;
        margin-top: 30px;
    }
    .bottom h2 {
        font-size: 18px;
        margin-top: 30px;
        white-space: normal;
    }
    /*---Seção sobre nós---*/
    .aboutUs {
        flex-wrap: wrap;
        flex-direction: column;
        padding: 80px 0;
    }
    /*---Container da imagem---*/
    .aboutUs .img {
        width: 100%;
    }
    .aboutUs img {
        border-radius: 0;
    }
    /*---Informações---*/
    .aboutUs .info {
        width: 100%;
    }
    .aboutUs .info {
        padding: 20px;
    }
    .aboutUs .info h1 {
        font-size: 50px;
    }
    .aboutUs .info p {
        margin-top: 5px;
        white-space: normal;
        font-size: 18px;
    }
    .info input {
        margin-top: 22px;
        font-size: 16px;
        padding: 12px 18px;
    }
    /*---Serviços---*/
    .services {
        padding: 20px;
    }
    .services h1 {
        font-size: 50px;
    }
    .services .content {
        margin-top: 60px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .services .single {
        width: 100%;
    }
    .services .single:nth-of-type(2) {
        margin: 30px 0;
    }
    .services .single h3 {
        font-size: 24px;
    }
    .services .single:nth-of-type(3) h3 {
        margin-top: -15px;
    }
    .services .single p {
        font-size: 17px;
        margin-top: -15px;
    }
    /*---Seção Filosofia---*/
    .philosophy {
        padding: 20px 20px 50px;
        flex-wrap: wrap;
    }
    .philosophy .info, .philosophy .img {
        width: 100%;
    }
    .philosophy .info {
        padding-top: 60px;
        margin-bottom: 70px;
    }
    .philosophy .info h1 {
        font-size: 39px;    
        white-space: normal;
    }
    .philosophy .info a {
        margin-top: 40px;
        font-size: 16px;
        padding: 12px 32px;
    }
    /*---Feedback---*/
    .feedback {
        justify-content: normal;
        flex-direction: column;
        padding: 20px;
    }
    .feedback h1 {
        font-size: 50px;
        margin-top: 0;
    }
    .feedback .content {
        width: 100%;
        padding-top: 100px;
    }
    .feedback h2 {
        font-size: 20px;
    }
    /*---Contato---*/
    .contact {
        padding: 40px 20px 20px;
    }
    .contact h1 {
        margin-left: 61px;
    }
    .contact h2 {
        font-size: 28px;
    }
    .left_content, .right_content {
        width: 46%;
    }
    .contact p {
        white-space: normal;
    }
    .left_content .contact_single:not(:nth-of-type(2)) span:first-of-type p, .right_content span:first-of-type p {
        margin-top: 0;
    }
}
/*---Responsivo: tablet---*/
@media screen and (min-width: 601px) and (max-width: 1336px) {
    /*---Popup---*/
    .content_popup {
        width: 93%;
        padding: 30px;
    }
    .content_popup h2 {
        font-size: 26px;
        text-align: left;
        margin-bottom: 13px;
    }
    .contacts_popup {
        padding-left: 0;
    }
    .contacts_popup span:last-of-type {
        margin-top: 10px;   
    }
    .contacts_popup img {
        width: 25px;
        height: 25px;
    }
    .contacts_popup p {
        font-size: 15px;
    }
    /*---Icone de fechar---*/
    .close {
        top: -7%;
        right: -2%;
    }
    /*---Cards---*/
    .background_card {
        position: absolute;
    }
    .centroPop_card, .cras_card, .creas_card {
        width: 95%;
        padding: 25px 0;
        flex-direction: column;
    }
    /*---Botao de fechar---*/
    .centroPop_card .close, .cras_card .close, .creas_card .close {
        top: -1.5%;
        right: 0;
        left: 50%;
        transform: translate(-50%, 1%);
    }
    .centroPop_card .close strong, .cras_card .close strong, .creas_card .close strong {
        font-size: 21px;
    }
    /*---Conteudo dos cards---*/
    .content_card {
        width: 100%;
        padding: 0 20px;
    }
    .content_card header {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        padding: 0;
    }
    .content_card header img {
        width: 40%;
        margin-bottom: 10px;
    }
    .content_card header h1 {
        white-space: normal;
        margin: 0;
        font-size: 26px;
    }
    .cras_card header h1 {
        margin-top: 10px;
    }
    .creas_card header h1 {
        margin-top: -10px;
    }
    .content_card p {
        font-size: 20px;
        margin-top: 10px;
        width: 100%;
    }
    .content_card p br {
        display: none;
    }
    /*---Container das imagens---*/
    .img_card {
        width: 100%;
        padding: 20px 0 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .img_card div {
        position: static;
        padding: 10px 10px 50px;
        width: 31%;
        margin-top: 10px;
    }
    .img_card img {
        width: 100%;
        height: 130px;
    }
    /*---Rodape dos cards---*/
    .centroPop_card footer, .cras_card footer, .creas_card footer {
        padding: 0;
        text-align: center;
        width: 100%;
    }
    .centroPop_card footer div, .cras_card footer div, .creas_card footer div {
        width: 100%;
        position: static;
    }
    .centroPop_card footer div:nth-of-type(1), .cras_card footer div:nth-of-type(1), .creas_card footer div:nth-of-type(1) {
        margin: 10px 0;
    }
    .centroPop_card footer h3, .cras_card footer h3, .creas_card footer h3 {
        font-family: 'Lato';
        font-size: 24px;
        position: relative;
        top: 20%;
    }
    .centroPop_card footer p, .cras_card footer p, .creas_card footer p {
        font-family: 'Bree Serif';
        font-size: 19px;
    }
    .centroPop_card footer img, .cras_card footer img, .creas_card footer img {
        float: none;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 15%;
        margin: 10px 0;
    }
    /*---Cabeçalho---*/
    body > header {
        padding: 25px;
    }
    /*---Topo do cabeçalho---*/
    .top span {
        width: 100%;
    }
    .top img {
        width: 60px;
        height: 60px;
    }
    .top h1 {
        padding-top: 13px;
        font-size: 21px;
        margin-left: 10px;
    }
    .top a {
        font-size: 16px;
        height: 49px;
        padding-top: 12px;
        width: 180px;
    }
    /*---Fundo do Cabeçalho---*/
    .bottom {
        padding-left: 0;
        text-align: center;
    }
    .bottom h1 {
        font-size: 55px;
        margin-top: 30px;
    }
    .bottom h2 {
        font-size: 20px;
        margin-top: 30px;
        white-space: normal;
    }
    /*---Seção sobre nós---*/
    .aboutUs {
        flex-wrap: wrap;
        flex-direction: column;
        padding: 60px 0;
    }
    /*---Container da imagem---*/
    .aboutUs .img {
        width: 100%;
    }
    .aboutUs img {
        border-radius: 0;
    }
    /*---Informações---*/
    .aboutUs .info {
        width: 100%;
    }
    .aboutUs .info {
        padding: 20px;
    }
    .aboutUs .info h1 {
        font-size: 55px;
    }
    .aboutUs .info p {
        margin-top: 5px;
        white-space: normal;
        font-size: 18px;
    }
    .info input {
        margin-top: 22px;
        font-size: 16px;
        padding: 12px 18px;
    }
    /*---Serviços---*/
    .services {
        padding: 60px 20px;
    }
    .services h1 {
        font-size: 55px;
    }
    .services .content {
        margin-top: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .services .single {
        width: 100%;
    }
    .services .single:nth-of-type(2) {
        margin: 30px 0;
    }
    .services .single img {
        width: 35%;
    }
    .services .single h3 {
        font-size: 25px;
    }
    .services .single:nth-of-type(3) h3 {
        margin-top: -25px;
    }
    .services .single p {
        font-size: 18px;
        margin-top: -10px;
    }
    /*---Seção Filosofia---*/
    .philosophy {
        padding: 20px 20px 80px;
        flex-wrap: wrap;
    }
    .philosophy .info, .philosophy .img {
        width: 100%;
    }
    .philosophy .info {
        padding-top: 60px;
        margin-bottom: 70px;
    }
    .philosophy .info h1 {
        font-size: 45px;    
        white-space: normal;
    }
    .philosophy .info a {
        margin-top: 40px;
        font-size: 16px;
        padding: 12px 45px;
    }
    /*---Feedback---*/
    .feedback {
        justify-content: normal;
        flex-direction: column;
        padding: 20px;
    }
    .feedback h1 {
        font-size: 55px;
        margin-top: -20px;
    }
    .feedback .content {
        width: 100%;
        padding-top: 80px;
    }
    .feedback h2 {
        font-size: 25px;
    }
    /*---Contato---*/
    .contact {
        padding: 50px 20px 30px;
    }
    .contact h1 {
        font-size: 47px;
        text-align: center;
    }
    .contact h2 {
        font-size: 27px;
    }
    .contact h4 {
        font-size: 16px;
    }
    .left_content, .right_content {
        width: 48%;
    }
    .contact p {
        font-size: 18px;
        white-space: normal;
    }
    .left_content .contact_single:not(:nth-of-type(2)) span:first-of-type p, .right_content span:first-of-type p {
        margin-top: 0;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1336px) {
    /*---Icone de fechar---*/
    .close {
        right: -1.2%;
    }
}