/*---Definindo as fontes---*/
@font-face {
    font-family: 'Bree Serif';
    src: url('../font/Bree_Serif/BreeSerif-Regular.ttf');
}
@font-face {
    font-family: 'Lato';
    src: url('../font/Lato/Lato-Bold.ttf');
}
@font-face {
    font-family: 'DM Sans';
    src: url('../font/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf');
}
/*---Resetando o documento---*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*---Ajustes---*/
.clear {
    clear: both;
}
/*---Ajustando a altura---*/
body, html {
    height: 100vh;
}
/*---Cabeçalho---*/
header {
    padding: 70px;
    background-image: url('../imgs/7.png');
    background-size: cover;
    height: 1000px;
}
/*---Topo do Cabeçalho---*/
.top {
    display: flex;
    justify-content: space-between;
}
.top h1 {
    font-family: 'Bree Serif';
    font-weight: normal;
    padding-top: 0.5%;
    font-size: 38px;
    margin-left: 4px;
    float: right;
}
.top a {
    display: inline-block;
    font-family: 'DM Sans', sans-serif;
    background-color: #F1671A;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #F1671A;
    height: 55px;
    border-radius: 3px;
    width: 10%;
    transition: 0.7s;
    padding-top: 16px;
    text-align: center;
    color: #fafafa;
}
.top a:hover {
    transform: scale(1.1);
    background-color: #fafafa;
    color: #F1671A;

}
/*---Fundo do Cabeçalho---*/
.bottom {
    padding-left: 71px;
}
.bottom h1 {
    font-size: 84px;
    font-weight: normal;
    font-family: 'Lato';
    white-space: pre-line;
}
.bottom h2 {
    font-size: 31px;
    margin-top: -10px;
    font-family: 'DM Sans';
    white-space: pre-line;
}
/*---Seção sobre nós---*/
.aboutUs {
    display: flex;
    justify-content: space-between;
    padding: 120px 0;
}
/*---Container da imagem---*/
.img {
    width: 50%;
}
.aboutUs img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
/*---Informações---*/
.info {
    width: 50%;
}
.aboutUs .info {
    padding-left: 230px;
    padding-top: 70px;
}
.info h1 {
    font-family: 'Lato';
    font-size: 55px;
}
.aboutUs .info p {
    margin-top: -25px;
    font-family: 'DM Sans';
    white-space: pre-line;
    font-weight: bold;
    font-size: 21px;
}
.info a {
    color: #fafafa;
    background-color: #F1671A;
    margin-top: 30px;
    font-size: 18px;
    border: 2px solid #F1671A;
    border-radius: 3px;
    transition: 0.7s;
    display: inline-block;
    text-decoration: none;
    font-family: 'DM Sans';
    font-weight: bold;
    padding: 16px 25px;
}
.info a:hover {
    transform: scale(1.1);
    background-color: #fafafa;
    color: #F1671A;
}
/*---Serviços---*/
.services {
    background-image: url('../imgs/9.png');
    background-size: cover;
    padding: 150px 140px;
}
.services h1 {
    font-family: 'Lato';
    font-size: 60px;
    text-align: center;
}
.services .content {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}
/*---Single---*/
.single {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    text-align: center;
    width: 28%;
    padding: 20px 0;
    background-color: #fafafa;
}
.single img {
    width: 60%;
}
.single h3 {
    white-space: pre-line;
    font-family: 'Lato';
    font-size: 26px;
}
.single p {
    white-space: pre-line;
    font-size: 20px;
    margin-top: -20px;
    color: #76766B;
    font-family: 'DM Sans';
}
/*---Seção Filosofia---*/
.philosophy {
    display: flex;
    padding: 150px 120px 130px;
}
/*---Container de informações---*/
.philosophy h1 {
    white-space: pre-line;
    font-size: 56px;
}
.philosophy .info a {
    margin-top: 130px;
    padding: 16px 53px;
}
/*---Container da imagem---*/
.philosophy img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}